In [1]:
import pandas as pd
import numpy as np
ATAC = pd.read_csv("data/1.ATAC-Seq data.CSV", sep=";")
QC_RD = pd.read_csv("data/ATAC_QCmatric_ReadStatistics.csv", sep=";")
QC_RD.head()

,ImmGen.lab.contributed,sample.name,population.name,total.reads,overal_ alignment_rate%,mapped_MAPQ5,reads.after.removing.duplication,properly_paired.reads,paired.count,total.Htseq-count.on.genes
0,Wagers,LTHSC.34-.BM.rep1,LTHSC.34-.BM,30846074,"56,32",16524909,10069268,9582214,4791107,4641976
1,Wagers,LTHSC.34-.BM.rep2,LTHSC.34-.BM,12221064,"55,26",6432458,4424534,4103998,2051999,1984953
2,Wagers,LTHSC.34+.BM.rep1,LTHSC.34+.BM,18001678,"61,14",10460447,6606793,6263510,3131755,3030056
3,Wagers,LTHSC.34+.BM.rep2,LTHSC.34+.BM,20921592,"61,41",12255655,8074178,7652366,3826183,3709788
4,Wagers,STHSC.150-.BM.rep1,STHSC.150-.BM,26562826,"55,4",14008223,8315375,7899112,3949556,3824397

In [2]:
QC_RD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ImmGen.lab.contributed            169 non-null    object
 1   sample.name                       169 non-null    object
 2   population.name                   169 non-null    object
 3   total.reads                       169 non-null    int64
 4   overal_ alignment_rate%           169 non-null    object
 5   mapped_MAPQ5                      169 non-null    int64
 6   reads.after.removing.duplication  169 non-null    int64
 7   properly_paired.reads             169 non-null    int64
 8   paired.count                      169 non-null    int64
 9   total.Htseq-count.on.genes        169 non-null    int64
dtypes: int64(6), object(4)
memory usage: 13.3+ KB

In [3]:
QC_RD.shape

(169, 10)

In [4]:
QC_RD.describe(include='all')

,ImmGen.lab.contributed,sample.name,population.name,total.reads,overal_ alignment_rate%,mapped_MAPQ5,reads.after.removing.duplication,properly_paired.reads,paired.count,total.Htseq-count.on.genes
count,169,169,169,1.690000e+02,169,1.690000e+02,1.690000e+02,1.690000e+02,1.690000e+02,1.690000e+02
unique,13,169,86,NaN,161,NaN,NaN,NaN,NaN,NaN
top,CBDM,LTHSC.34-.BM.rep1,B.Fo.Sp,NaN,"52,41",NaN,NaN,NaN,NaN,NaN
freq,45,1,4,NaN,3,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,2.055347e+07,NaN,1.082893e+07,6.803538e+06,6.457130e+06,3.228565e+06,3.130647e+06
std,NaN,NaN,NaN,7.156571e+06,NaN,3.937772e+06,2.206872e+06,2.141713e+06,1.070856e+06,1.040051e+06
min,NaN,NaN,NaN,6.762368e+06,NaN,3.145012e+06,2.438597e+06,2.283692e+06,1.141846e+06,1.108508e+06
25%,NaN,NaN,NaN,1.470354e+07,NaN,8.019663e+06,5.332785e+06,5.017788e+06,2.508894e+06,2.446066e+06
50%,NaN,NaN,NaN,2.083229e+07,NaN,1.028266e+07,6.466320e+06,6.119962e+06,3.059981e+06,2.962653e+06
75%,NaN,NaN,NaN,2.630127e+07,NaN,1.377734e+07,8.405751e+06,7.987896e+06,3.993948e+06,3.876989e+06
max,NaN,NaN,NaN,5.062597e+07,NaN,3.284949e+07,1.972867e+07,1.918715e+07,9.593576e+06,9.330719e+06